body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 300px;
    height: fit-content;
    background-color: #BCAA99;
    padding: 20px;
    border-radius: 10px;
    margin-inline:10px;
    margin-top: 10vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input_container{
    height: 70px;
    background-color: white;
    display: flex;
    align-items: end;
    border-radius: 10px;
    overflow: hidden;
}

.btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}

.btns button:last-child{
    grid-column: span 2;
}

input{
    
    border-style: none;
    outline: none;
    text-align: end;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px ;
    color: #443850;
}

.clear , .del{
    background-color: #8E5572;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
}
.clear{
    margin-right: 5px;
}
button:not(.clear, .del){
    padding: 20px;
    border-radius: 10px;
    background-color: #443850;
    color: white;
}